# Compile-time design knobs for Dragon Alpha.

GAME_NAME=Dragon Alpha
COMPANION_BUNDLE_ID=com.Dracosoft.EpicDragon
FULL_GAME=0

BASE_WIDTH=800
BASE_HEIGHT=600
PREFERRED_WIDTH=1920
PREFERRED_HEIGHT=1080

ENABLE_REAL_MONEY_STORE=0
ENABLE_ADS=0
ENABLE_ANALYTICS=0
ENABLE_AUDIO=1
TRAVERSAL_SFX_ENABLED=0
TRAVERSAL_SFX_STEP_VARIANTS=1
TRAVERSAL_SFX_BUMP_COOLDOWN_MS=180
USE_SAFE_AREA=1
UNLOCK_AVATAR_COST=25
UNLOCK_CATEGORY_COST=50
UNLOCK_PREMIUM_CATEGORY_COST=300
TRAINING_BASE_COST=100
STARTING_GOLD=500
MAX_GOLD=999999999
MAX_TOKENS=999999999
STARTING_TOKENS_FULL=300
STARTING_TOKENS_LITE=25
SPLASH_MIN_MILLISECONDS=2000
MENU_CARD_GAP=28
BATTLE_PREVIEW_PULSE_MS=800
SHOW_LEGACY_HINTS=1
